table {
    border-collapse: collapse;
    width: 1000px;
    margin-left: 420px;
    margin-top: 60px;
    text-align: center;
  }
    
  th, td {
    border: 3px solid;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  .container {
      border: solid 5px;
      width: 550px;
      text-align: center;
      margin-left: 100px;
      margin-top: 25px;
      height: 400px;
  }
  
  input {
      font-size: 15px;
      width: 300px;
  }
  
  button {
      background-color: whitesmoke;
      color: black;
      font-size: 17px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
  }
  
  body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2FWWNlNV0.jpg&f=1&nofb=1&ipt=f910ee3f129db63de0640f7218e06634d7ea52ec61fc2d241aaedad67ee8dfe6&ipo=images);
    background-repeat: no-repeat;
    background-size: cover;
    color: purple;
  }
  
  body[modo-nocturno] {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2FWWNlNV0.jpg&f=1&nofb=1&ipt=f910ee3f129db63de0640f7218e06634d7ea52ec61fc2d241aaedad67ee8dfe6&ipo=images);
    color: lightblue;
  }
  
  label {
    color: whitesmoke;
  }
  
  #modoNocturnoBtn {
    margin-top: 10px;
  }
